<%- include("header") -%>
<div class="main-div">
<div class="inner-div">

  <h2 class="questionds">Your Score is= <%= scoreds %>/5</h2>
  <ul>
    <li>Q1: Which of the following is generally used for performing tasks like creating the structure of the relations, deleting relation?</li>
    <h4>DDL(Data Definition Language)</h4>
    <h5>Explaination:The term "DDL" stands for Data Definition Language, used to perform all other essential tasks such as deleting relation and related schemas in defining the structure relation.</h5>

    <li>Q2:Which one of the following refers to the "data about data"</li>
    <h4>The Meta Data</h4>
    <h5>Explanation:The Meta Data refers to the type of data that describes the other data or information.</h5>

    <li>Q3:  Which of the following refers to the level of data abstraction that describes exactly how the data actually stored?</li>
    <h4>Physical Level</h4>
    <h5>Explaination:the data abstraction level that describes how the data was actually stored in the user's machine (or system) is known as the Physical level.</h5>

    <li>Q4:Rows of a relation are known as the _______.</li>
    <h4>Tuple</h4>
    <h5>Explaination: rows are called the tuples</h5>

    <li>Q5:To which of the following the term "DBA" referred?</li>
    <h4>Database Administrator</h4>
    <h5>Explaination:The term "DBA" refers to the Database Administrator that manages the whole database and updates the database on a regular basis. In short, the database administrator has the responsibility of the whole database and to maintain it in an optimal & stable state.</h5>
  </ul>

</div>
</div>

<%- include("footer") -%>
