<%- include("header") -%>
<div class="main-div">
<div class="inner-div">

  <h2 class="questiontoc">Your Score is= <%= scoretoc %>/5</h2>
  <ul>
    <li>Q1:Statement 1: Null string is accepted in Moore Machine.Statement 2: There are more than 5-Tuples in the definition of Moore Machine.",</li>
    <h4>Statement 1 is true and Statement 2 is true</h4>
    <h5>Explaination:Even ε, when passed as an input to Moore machine produces an output.</h5>

    <li>Q2: The total number of states and transitions required to form a moore machine that will produce residue mod 3</li>
    <h4> 3 and 6</h4>
    <h5>Explanation: 3 and 6 by DFA</h5>

    <li>Q3: The O/P of Moore machine can be represented in the following format:</li>
    <h4>Op(t)=δ(Op(t))</h4>
    <h5>Explaination: Op(t)=δ(Op(t)) is the defined definition of how the output is received on giving a specific input to Moore machine.</h5>

    <li>Q4:Which of the following is a correct statement?</li>
    <h4>Moore machine has no accepting states</h4>
    <h5>Explaination:Statement a and b is correct while c is false. Finite machines with output have no accepting states and can be converted within each other.</h5>

    <li>Q5:For a give Moore Machine, Given Input=’101010’, thus the output would be of length:</li>
    <h4>|Input|+1</h4>
    <h5>Explaination: Initial state, from which the operations begin is also initialized with a value.</h5>
  </ul>

</div>
</div>

<%- include("footer") -%>
