<%- include("header") -%>
<style>
  #a1 {
    font-weight: bold;
  }
  </style>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="pb-2 border-bottom" id="a1">Books</h1>
  <p class="fs-5 text-muted">Here are the PDF version of the books of the following subjects of CS branch.</p>
</div>
</header>

<main>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Computer Networks</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Behrouz A. Forouzan <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('http://eti2506.elimu.net/Introduction/Books/Data%20Communications%20and%20Networking%20By%20Behrouz%20A.Forouzan.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Blockchain</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Andreas M. Antonopoulos <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://github.com/bitcoinbook/bitcoinbook/blob/develop/ch01.asciidoc')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Data Structures & Algorithm</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Martin Richards <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://www.cl.cam.ac.uk/teaching/2001/DSAlgs/dsa.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Theory of Computation</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Michael Sipser <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://fuuu.be/polytech/INFOF408/Introduction-To-The-Theory-Of-Computation-Michael-Sipser.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Software Engineering</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Rajib Mall <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://davcollegetitilagarh.org/wp-content/uploads/2020/09/fundamentals-of-software-engineering-fourth-edition-rajib-mall.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Database Management System</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Abraham Silberschatz,Henry F. Korth,S. Sudarshan <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://www.octawian.ro/fisiere/situri/asor/build/html/_downloads/1fcab53a6d916e39c715fc20a9a9c2a8/Silberschatz_A_databases_6th_ed.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Operating Systems</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Ann Mclver McHoes,Ida M. Flynn <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('http://160592857366.free.fr/joe/ebooks/ShareData/Understanding%20Operating%20Systems%206e%20By%20Ann%20McIver%20McHoes%20and%20Ida%20M.%20Flynn.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Object-Oriented Programming
          Java</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Margit Antal <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://www.ms.sapientia.ro/~manyi/teaching/oop/oop_java.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">An Introduction to the C Programming Language
          and Software Design</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"> Tim Bailey <small class="text-muted fw-light"></small><i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://www-personal.acfr.usyd.edu.au/tbailey/ctext/ctext.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" id="subject">
        <h4 class="my-0 fw-normal">Learning Python</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">O'Reilly<small class="text-muted fw-light"></small> <i class="fa fa-graduation-cap" id="icon"></i></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <a class="help" href = "mailto:subhra0987deep@gmail.com?subject = Feedback&body = Message">Email support</a>
          <br>
          <a target="_blank" href="\forms">Help center access</a>
        </ul>
          <button id="button1" type="button" onclick=" window.open('https://cfm.ehu.es/ricardo/docs/python/Learning_Python.pdf')"  class="w-100 btn btn-lg btn-outline-primary">Get Book</button>
      </div>
    </div>
  </div>
  
</div>













<%- include("footer") -%>
