<%- include("header") -%>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">

      <img src="https://media.giphy.com/media/DZrp2DjxS7P5aVzmOj/giphy.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

      <h2>Computer Networks</h2>
      <p>Some representative placeholder . This is the first column.</p>
      <p><a class="btn btn-primary" target="_blank" href="/cnQuiz">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <!--  <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>-->
<img src="https://media.giphy.com/media/IhyEpo7hrWPdmLua5A/giphy.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
      <h2>Discrete Maths</h2>
      <p>Another exciting bit This time, we've moved on to the second column.</p>
      <p><a class="btn btn-primary" href="/dmQuiz">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <!--   <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg> -->
<img src="https://media.giphy.com/media/PhYTgixTZOrdFNrxHk/giphy.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
      <h2>Operating Systems</h2>
      <p>And lastly this, the third column of representative placeholder.</p>
      <p><a class="btn btn-primary" href="/osQuiz">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
    <!--  <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>-->
      <img src="https://media.giphy.com/media/MAi7GF66GsbRjJksih/giphy.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

      <h2>COA</h2>
      <p>Some representative placeholder . This is the first column.</p>
      <p><a class="btn btn-primary" href="/coaQuiz">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
    <!--  <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>-->
      <img src="https://media.giphy.com/media/eP9vnq0QOOjWubyZ9f/giphy.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

      <h2>DBMS</h2>
      <p>Another exciting bit This time, we've moved on to the second column.</p>
      <p><a class="btn btn-primary" href="/dsQuiz">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>-->
      <img src="https://media.giphy.com/media/VdoIFLsMIlwzfKD520/giphy.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

      <h2>TOC</h2>
      <p>And lastly this, the third column of representative placeholder.</p>
      <p><a class="btn btn-primary" href="/tocQuiz">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>


<%- include("footer") -%>
